body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

 .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/** ===========HEADER========== */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.header-logo-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-list {
    display: none;
}


.header-address {
    display: none;
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mob-menu {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
    
.close-menu-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio {
    color: #404bbf;
}

.mob-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;}

.mob-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}

.devstudio {
    color: #434455;
}

.mob-menu-icons-list {
    display: flex;
    justify-content: space-between;
}

.mob-menu-icons-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu-icons-item {
    fill: #f4f4fd;
}

.mob-menu-icons-link:hover,
.mob-menu-icons-link:focus {
    background-color: #31D0AA;
}

/** ======================== */

/** ===========HERO========== */

.hero {
    
    box-sizing: content-box;
    max-width: 1440px;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero/people-office-mob@1x.jpg);
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    }

  @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/hero/people-office-mob@2x.jpg);
    }
  }

.hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-bottom: 72px;
    margin: 0 auto;
} 

.hero-btn {
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
.hero-btn:active {
    background-color: #404bbf;
}

/** ===================== */

/** ===========FEATURES========== */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
    }

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
   width: 100%;
}

.features-box {
    display: none;
    align-items: center;
    justify-content: center;               
    border: 1px solid #8e8f99;          
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin: 0 auto;
    margin-bottom: 8px;
} 

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    }

.features-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/** ========================= */

/** ===========TEAM========== */

.team {
    background-color: #f4f4fd;
    margin: 0 auto;
    padding-bottom: 96px;
    padding-top: 96px;
    }

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px; 
    }


.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    background-color: #ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.container-team {
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center
        }

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-icons-list {
    max-width: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
    }

.team-icons-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-item {
    fill: #f4f4fd;
    }

.team-icons-link:hover,
.team-icons-link:focus {
    background-color: #404BBF;
}
/** ========================= */

/** ===========PORTFOLIO========== */

.portfolio {
    padding-bottom: 96px;
    padding-top: 96px;
    }

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    font-weight: 700;
        
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.portfolio-box {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
 }
 
.container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item:hover  {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }

.portfolio-overlay {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    }

.portfolio-item:hover .portfolio-overlay {
        transform: translateY(0);
}
    
/** ===================== */

/** ===========FOOTER========== */

.footer {
    background: #2e2f42;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
    }

.footer-container {
    display: block;
    flex-wrap: wrap;
   }

.container-one {
    justify-content: flex-start;
    width: 288px;
}   

.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-left: 86px;
    margin-bottom: 16px;
}

.footer-logo-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    }

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-bottom: 72px;
    }


.footer-icons-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    }

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.footer-icons-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-icons-item {
    fill: #f4f4fd;
    }

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31D0AA;
}

.footer-form {
    display: flex;
flex-wrap: wrap;
justify-content: center;
    gap: 16px;
}

.footer-imput {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    color: #ffffff;
}

.footer-imput::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    min-width: 165px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-email-icon {
    fill: #fff;
    }

    /** ========================= */

.backdrop {
    position: fixed;
    top: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2); 
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
        visibility: hidden;
    pointer-events: none;
}   

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
      
.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
   fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
 .modal-field {
    margin-bottom: 8px;
 }

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
    position: relative;
    
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    }

.modal-text:focus {
    border-color: #4D5AE5;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 7.5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span{
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** ===========TABLET========== */

@media screen and (min-width: 768px)   {
.container {
        max-width: 768px;
    }

.header-address {
    display: block;}

.header-menu-list {
    display: flex;
    gap: 40px;
 }
.header-logo {
    margin-right: 120px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}
.header-address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.open-menu-btn {
    display: none;
}

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tab@1x.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tab@2x.jpg);
    }
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
}

.features-list {
    row-gap: 72px; 
    column-gap: 24px;
 }
.features-item {
        width: calc((100% - 24px) / 2);
    }

 .features-subtitle {
    text-align:left
 }
.team {
    padding-bottom: 96px;
    padding-top: 96px;
  
    
}

.team-list {
    padding-left: 92px;
    row-gap: 64px;
    column-gap: 24px;
}


.portfolio-box {
    max-width: 356px;
}

.portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    column-gap: 24px;
    row-gap: 72px;
    }
.container-one {
    max-width: 264px;
}
.footer-logo {
    padding-left: 0;
}
.footer-text {
    max-width: 264px;
    padding-bottom: 0;

}
.footer-subtitle {
   text-align: left;
   }

.footer-icons-link {
    margin-bottom: 0;
}


.footer-form {
    justify-content: flex-start;
    gap: 24px;
}
.footer-imput {
    width: 264px;
}
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}
}
/** ============================ */

/** ===========DESKTOP========== */

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
}

.header-logo {
    margin-right: 76px;
}

.header-address-list {
    flex-direction: row;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-des@1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-des@2x.jpg);
    }
}

.hero-title {
    padding-bottom: 48px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    gap: 24px;
    }

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-box {
    display: block;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
}
.features-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    padding-bottom: 120px;
        padding-top: 120px;
}

.team-list {
    padding-left: 0;
}

.portfolio-list {
    column-gap: 24px;
        row-gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);

}
.portfolio-box {
    max-width: 360px;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;  
    gap: 0;
   
}

.container-one {
    margin-right: 120px;
}
.footer-subscribe {
    margin-left: 80px;
}

}
/** ===================== */



